* {
  font-family: "Alegreya Sans", sans-serif;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  background-color: #f0ead6;
}
body::after {
  content: "";
  display: block;
  height: 400px;
}

h2{
  color: rgb(184, 91, 33) ;
}

/*navigation bar*/
.navbar-light {
  background-color: whitesmoke;
  color: #f4b031;

  /*toggle dark mode*/
  input[type="checkbox"] {
    height: 0;
    width: 0;
    visibility: hidden;
  }

  label {
    cursor: pointer;
    text-indent: -9999px;
    width: 52px;
    height: 27px;
    background: grey;
    float: right;
    border-radius: 100px;
    position: relative;
  }

  label:after {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
  }

  input:checked + label {
    background: var(--color-headings);
  }

  input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
  }

  label:active:after {
    width: 45px;
  }

  html.transition,
  html.transition *,
  html.transition *:before,
  html.transition *:after {
    transition: all 750ms !important;
    transition-delay: 0 !important;
  }
}
.navbar-light .navbar-brand,
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: rgb(117, 90, 0);
}
.navbar-light .navbar-nav .nav-link {
  color: rgba(126, 98, 7, 0.651);
}

/*tables*/

table {
  background-color: whitesmoke;
}

td a:hover {
  color: #c98302;
}

tr,
td a {
  color: #f4b031;
}

th,
#List-Name {
  font-weight: bold;
  color: rgb(117, 90, 0);
}

.table-hover tbody tr:hover:not(.check) {
  color: rgb(117, 90, 0);
  background-color: #f4b0314f;
}

tr.check,
.table-hover tbody tr.check:hover {
  background-color: #f4b031;
  color: white;
  outline: 0.08rem solid rgba(238, 209, 146, 0.993);
}

/*Divs*/
div .main {
  background-color: whitesmoke;
  color: #f4b031;
}

div.loggedIn {
  color: rgb(138, 80, 5);
}

div.amount {
  display: none;
}
div#oldList {
  display: none;
}

/*dropdownList*/
.dropdown-item {
  color: #f4b031;
}

div.alert-warning{
  color:#ebe6dd;
  background-color: rgba(214, 179, 104, 0.993);
}

.dropdown-item:focus,
.dropdown-item:hover {
  color: rgb(117, 90, 0);
  text-decoration: none;
  background-color: #f8f9fa;
}

/*Buttons*/
.btn-default {
  background-color: #f4b031;
  color: white;
}
.btn-default:hover {
  background-color: #f3a30d;
  color: white;
  outline: rgb(117, 90, 0);
  box-shadow: 0 0 0 0.2rem rgba(236, 164, 30, 0.411);
}

.btn-default:focus {
  outline: rgb(117, 90, 0);
  box-shadow: 0 0 0 0.2rem rgba(236, 164, 30, 0.411);
}

/*links*/
.check a {
  color: rgba(238, 209, 146, 0.993);
  pointer-events: none;
  cursor: not-allowed;
}

/*auto complete box design*/
.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}

.ui-autocomplete > li > div {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333333;
  white-space: nowrap;
}

.ui-state-hover,
.ui-state-active,
.ui-state-focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
  cursor: pointer;
}

.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*********password********/
input.invalid:focus {
  border: 4px solid rgb(211, 4, 4);
  border-radius: 0.25rem;
  box-shadow: none;
}
span.message {
  color: rgb(218, 0, 0);
}
span.goodMessage {
  color: green;
}

/************footer************/
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f4b0319e;
  color: white;
  text-align: center;
}
.images {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}
/************select dropdown***********/
.dropdown-menu {
  max-height: 200px;
  overflow-y: auto;
}

/*****************DARKMODE******************/
html[data-theme="dark"] {
  /*dropdownList*/
  .dropdown-item {
    color: #272420;
  }

  table {
    background-color: #423246;
  }

  /*tables*/

  table {
    background-color: #423246;
  }

  td a:hover {
    color: #332d23;
  }

  tr,
  td a {
    color: #a79bc4;
  }

  th,
  #List-Name {
    font-weight: bold;
    color: rgb(104, 58, 165);
  }

  .table-hover tbody tr:hover:not(.check) {
    color: white;
    background-color: #3f392e;
  }

  tr.check,
  .table-hover tbody tr.check:hover {
    background-color: #3f392e;
    color: white;
    outline: 0.08rem solid rgba(107, 28, 117, 0.993);
  }

  .navbar-light {
    background-color: #29272b;
    color: #9461be;

    /*toggle dark mode*/
    input[type="checkbox"] {
      height: 0;
      width: 0;
      visibility: hidden;
    }

    label {
      cursor: pointer;
      text-indent: -9999px;
      width: 52px;
      height: 27px;
      background: grey;
      float: right;
      border-radius: 100px;
      position: relative;
    }

    label:after {
      content: "";
      position: absolute;
      top: 3px;
      left: 3px;
      width: 20px;
      height: 20px;
      background: #fff;
      border-radius: 90px;
      transition: 0.3s;
    }

    input:checked + label {
      background: rgb(76, 62, 78);
    }

    input:checked + label:after {
      left: calc(100% - 5px);
      transform: translateX(-100%);
    }

    label:active:after {
      width: 45px;
    }

    html.transition,
    html.transition *,
    html.transition *:before,
    html.transition *:after {
      transition: all 750ms !important;
      transition-delay: 0 !important;
    }
  }

 

  /*Divs*/
  div .main {
    background-color: rgb(39, 38, 41);
    color: #6d6bc5;
  }



  div.alert-warning{
    color:#ece6db;
    background-color: rgba(36, 29, 35, 0.993);
  }
  
  h2{
    color: #6d6bc5 ;
  }

  div.loggedIn {
    color: #69688b;
  }

  div.amount {
    display: none;
  }
  div#oldList {
    display: none;
  }

  /*Buttons*/
  .btn-default {
    background-color: #423246;
    color: white;
  }
  .btn-default:hover {
    background-color: #423246;
    color: rgb(61, 52, 52);
    outline: white;
    box-shadow: 0 0 0 0.2rem #423246;
  }

  .btn-default:focus {
    outline: #423246;
    box-shadow: 0 0 0 0.2rem#423246;
  }
  body {
    min-height: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    background-color: rgb(128, 128, 128);
  }
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #29272b;
    color: white;
    text-align: center;
  }


   
  /*links*/
  .check a {
    color: rgba(77, 75, 72, 0.993);
    pointer-events: none;
    cursor: not-allowed;
  }

  .navbar-light .navbar-brand,
  .navbar-light .navbar-brand:focus,
  .navbar-light .navbar-brand:hover,
  .navbar-light .navbar-nav .active > .nav-link,
  .navbar-light .navbar-nav .nav-link.active,
  .navbar-light .navbar-nav .nav-link.show,
  .navbar-light .navbar-nav .show > .nav-link,
  .navbar-light .navbar-nav .nav-link:focus,
  .navbar-light .navbar-nav .nav-link:hover {
    color: rgb(122, 99, 138);
  }
  .navbar-light .navbar-nav .nav-link {
    color: rgb(122, 99, 138);
  }

  .ui-state-hover,
  .ui-state-active,
  .ui-state-focus {
    text-decoration: none;
    color: #262626;
    background-color: #423246;
    cursor: pointer;
  }
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}
